In [1]:
install.packages("tidyverse")
install.packages("lubridate")
install.packages("stringr")

library(tidyverse)
library(lubridate)
library(stringr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
df<-read_csv("http://594442.youcanlearnit.net/ssadisability.csv")

Rows: 10 Columns: 25
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Fiscal_Year
num (24): Oct_Total, Oct_Internet, Nov_Total, Nov_Internet, Dec_Total, Dec_I...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
glimpse(df)

Rows: 10
Columns: 25
$ Fiscal_Year     <chr> "FY08", "FY09", "FY10", "FY11", "FY12", "FY13", "FY14"…
$ Oct_Total       <dbl> 176407, 244781, 286598, 299033, 227456, 224624, 206471…
$ Oct_Internet    <dbl> 15082, 32578, 65533, 92856, 86811, 92542, 98400, 13374…
$ Nov_Total       <dbl> 204287, 181161, 213297, 209553, 200140, 249910, 237621…
$ Nov_Internet    <dbl> 17301, 25620, 50098, 63424, 71175, 107053, 117934, 967…
$ Dec_Total       <dbl> 151687, 176107, 198733, 215239, 254766, 188183, 175607…
$ Dec_Internet    <dbl> 14321, 27174, 44512, 62877, 91424, 79719, 83377, 89619…
$ Jan_Total       <dbl> 162966, 249062, 265665, 264286, 221146, 199588, 240969…
$ Jan_Internet    <dbl> 18391, 57908, 68843, 84944, 85848, 93703, 125320, 1294…
$ Feb_Total       <dbl> 228623, 221368, 225319, 223625, 228519, 219604, 205737…
$ Feb_Internet    <dbl> 26034, 50408, 58465, 71314, 83576, 101878, 108384, 101…
$ Mar_Total       <dbl> 190716, 235360, 243266, 246630, 299267, 285923, 219696…
$ Mar_Internet    <dbl> 21064, 53592, 62198, 77916, 112104, 129415, 114993, 10…
$ Apr_Total       <dbl> 194403, 234304, 298065, 300359, 233685, 224804, 218172…
$ Apr_Internet    <dbl> 22372, 53675, 76573, 94722, 88330, 101619, 112417, 101…
$ May_Total       <dbl> 226549, 281343, 239409, 241673, 239503, 269955, 258726…
$ May_Internet    <dbl> 26337, 65822, 65780, 77603, 93826, 123440, 134714, 122…
$ June_Total      <dbl> 193094, 237329, 231964, 233351, 284136, 223238, 213389…
$ June_Internet   <dbl> 22551, 54285, 67163, 79925, 113613, 104146, 110227, 99…
$ July_Total      <dbl> 181552, 285172, 300442, 292949, 221745, 204072, 198484…
$ July_Internet   <dbl> 22728, 66565, 92957, 105276, 91323, 98326, 106013, 124…
$ August_Total    <dbl> 245429, 240611, 248284, 237555, 298458, 281828, 265979…
$ August_Internet <dbl> 30580, 54915, 75535, 86514, 119795, 135423, 139000, 10…
$ Sept_Internet   <dbl> 24141, 52687, 73403, 103564, 93375, 104270, 107284, 98…
$ Sept_Total      <dbl> 186750, 228692, 238965, 280913, 230648, 214004, 203384…

In [5]:
# Make the dataset long
ssa_long <- pivot_longer(df, !Fiscal_Year, names_to='month', values_to='applications')

In [6]:
print(ssa_long, n=20)

# A tibble: 240 × 3
   Fiscal_Year month         applications
   <chr>       <chr>                <dbl>
 1 FY08        Oct_Total           176407
 2 FY08        Oct_Internet         15082
 3 FY08        Nov_Total           204287
 4 FY08        Nov_Internet         17301
 5 FY08        Dec_Total           151687
 6 FY08        Dec_Internet         14321
 7 FY08        Jan_Total           162966
 8 FY08        Jan_Internet         18391
 9 FY08        Feb_Total           228623
10 FY08        Feb_Internet         26034
11 FY08        Mar_Total           190716
12 FY08        Mar_Internet         21064
13 FY08        Apr_Total           194403
14 FY08        Apr_Internet         22372
15 FY08        May_Total           226549
16 FY08        May_Internet         26337
17 FY08        June_Total          193094
18 FY08        June_Internet        22551
19 FY08        July_Total          181552
20 FY08        July_Internet        22728
# ℹ 220 more rows

In [7]:
df<-read_csv("http://594442.youcanlearnit.net/ssadisability.csv")

Rows: 10 Columns: 25
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Fiscal_Year
num (24): Oct_Total, Oct_Internet, Nov_Total, Nov_Internet, Dec_Total, Dec_I...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [8]:
head(df,5)

  Fiscal_Year Oct_Total Oct_Internet Nov_Total Nov_Internet Dec_Total
1 FY08        176407    15082        204287    17301        151687
2 FY09        244781    32578        181161    25620        176107
3 FY10        286598    65533        213297    50098        198733
4 FY11        299033    92856        209553    63424        215239
5 FY12        227456    86811        200140    71175        254766
  Dec_Internet Jan_Total Jan_Internet Feb_Total ⋯ May_Total May_Internet
1 14321        162966    18391        228623    ⋯ 226549    26337
2 27174        249062    57908        221368    ⋯ 281343    65822
3 44512        265665    68843        225319    ⋯ 239409    65780
4 62877        264286    84944        223625    ⋯ 241673    77603
5 91424        221146    85848        228519    ⋯ 239503    93826
  June_Total June_Internet July_Total July_Internet August_Total
1 193094      22551        181552      22728        245429
2 237329      54285        285172      66565        240611
3 231964      67163        300442      92957        248284
4 233351      79925        292949     105276        237555
5 284136     113613        221745      91323        298458
  August_Internet Sept_Internet Sept_Total
1  30580           24141        186750
2  54915           52687        228692
3  75535           73403        238965
4  86514          103564        280913
5 119795           93375        230648

In [9]:
# Make the dataset long
ssa_long <- pivot_longer(df, !Fiscal_Year, names_to='month', values_to='applications')

In [10]:
# And what do we get?
print(ssa_long, n=20)

# A tibble: 240 × 3
   Fiscal_Year month         applications
   <chr>       <chr>                <dbl>
 1 FY08        Oct_Total           176407
 2 FY08        Oct_Internet         15082
 3 FY08        Nov_Total           204287
 4 FY08        Nov_Internet         17301
 5 FY08        Dec_Total           151687
 6 FY08        Dec_Internet         14321
 7 FY08        Jan_Total           162966
 8 FY08        Jan_Internet         18391
 9 FY08        Feb_Total           228623
10 FY08        Feb_Internet         26034
11 FY08        Mar_Total           190716
12 FY08        Mar_Internet         21064
13 FY08        Apr_Total           194403
14 FY08        Apr_Internet         22372
15 FY08        May_Total           226549
16 FY08        May_Internet         26337
17 FY08        June_Total          193094
18 FY08        June_Internet        22551
19 FY08        July_Total          181552
20 FY08        July_Internet        22728
# ℹ 220 more rows

In [11]:
# Split the month and application type
ssa_long <- ssa_long %>%separate(month, c("month", "application_method"), sep="_")

In [12]:
print(ssa_long,n=20)

# A tibble: 240 × 4
   Fiscal_Year month application_method applications
   <chr>       <chr> <chr>                     <dbl>
 1 FY08        Oct   Total                    176407
 2 FY08        Oct   Internet                  15082
 3 FY08        Nov   Total                    204287
 4 FY08        Nov   Internet                  17301
 5 FY08        Dec   Total                    151687
 6 FY08        Dec   Internet                  14321
 7 FY08        Jan   Total                    162966
 8 FY08        Jan   Internet                  18391
 9 FY08        Feb   Total                    228623
10 FY08        Feb   Internet                  26034
11 FY08        Mar   Total                    190716
12 FY08        Mar   Internet                  21064
13 FY08        Apr   Total                    194403
14 FY08        Apr   Internet                  22372
15 FY08        May   Total                    226549
16 FY08        May   Internet                  26337
17 FY08        June  Total                    193094
18 FY08        June  Internet                  22551
19 FY08        July  Total                    181552
20 FY08        July  Internet                  22728
# ℹ 220 more rows

In [13]:
# What does that look like?
print(ssa_long, n=20)

# A tibble: 240 × 4
   Fiscal_Year month application_method applications
   <chr>       <chr> <chr>                     <dbl>
 1 FY08        Oct   Total                    176407
 2 FY08        Oct   Internet                  15082
 3 FY08        Nov   Total                    204287
 4 FY08        Nov   Internet                  17301
 5 FY08        Dec   Total                    151687
 6 FY08        Dec   Internet                  14321
 7 FY08        Jan   Total                    162966
 8 FY08        Jan   Internet                  18391
 9 FY08        Feb   Total                    228623
10 FY08        Feb   Internet                  26034
11 FY08        Mar   Total                    190716
12 FY08        Mar   Internet                  21064
13 FY08        Apr   Total                    194403
14 FY08        Apr   Internet                  22372
15 FY08        May   Total                    226549
16 FY08        May   Internet                  26337
17 FY08        June  Total                    193094
18 FY08        June  Internet                  22551
19 FY08        July  Total                    181552
20 FY08        July  Internet                  22728
# ℹ 220 more rows

In [14]:
# What values do we have for months?
unique(ssa_long$month)

 [1] "Oct"    "Nov"    "Dec"    "Jan"    "Feb"    "Mar"    "Apr"    "May"
 [9] "June"   "July"   "August" "Sept"

In [15]:
# Convert month to standard abbreviations
ssa_long <- ssa_long %>%mutate(month=substr(month,1,3))

In [16]:
# What values do we now have for months and years?
unique(ssa_long$month)
unique(ssa_long$Fiscal_Year)

 [1] "Oct" "Nov" "Dec" "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep"

 [1] "FY08" "FY09" "FY10" "FY11" "FY12" "FY13" "FY14" "FY15" "FY16" "FY17"

In [17]:
# Convert Fiscal_Year from alphanumeric strings to actual years
ssa_long <- ssa_long %>%mutate(Fiscal_Year=str_replace(Fiscal_Year, "FY", "20"))

In [18]:
# What values do we now have for years?
unique(ssa_long$Fiscal_Year)

 [1] "2008" "2009" "2010" "2011" "2012" "2013" "2014" "2015" "2016" "2017"

In [19]:
# Build a date string using the first day of the month
paste('01', ssa_long$month, ssa_long$Fiscal_Year)

  [1] "01 Oct 2008" "01 Oct 2008" "01 Nov 2008" "01 Nov 2008" "01 Dec 2008"
  [6] "01 Dec 2008" "01 Jan 2008" "01 Jan 2008" "01 Feb 2008" "01 Feb 2008"
 [11] "01 Mar 2008" "01 Mar 2008" "01 Apr 2008" "01 Apr 2008" "01 May 2008"
 [16] "01 May 2008" "01 Jun 2008" "01 Jun 2008" "01 Jul 2008" "01 Jul 2008"
 [21] "01 Aug 2008" "01 Aug 2008" "01 Sep 2008" "01 Sep 2008" "01 Oct 2009"
 [26] "01 Oct 2009" "01 Nov 2009" "01 Nov 2009" "01 Dec 2009" "01 Dec 2009"
 [31] "01 Jan 2009" "01 Jan 2009" "01 Feb 2009" "01 Feb 2009" "01 Mar 2009"
 [36] "01 Mar 2009" "01 Apr 2009" "01 Apr 2009" "01 May 2009" "01 May 2009"
 [41] "01 Jun 2009" "01 Jun 2009" "01 Jul 2009" "01 Jul 2009" "01 Aug 2009"
 [46] "01 Aug 2009" "01 Sep 2009" "01 Sep 2009" "01 Oct 2010" "01 Oct 2010"
 [51] "01 Nov 2010" "01 Nov 2010" "01 Dec 2010" "01 Dec 2010" "01 Jan 2010"
 [56] "01 Jan 2010" "01 Feb 2010" "01 Feb 2010" "01 Mar 2010" "01 Mar 2010"
 [61] "01 Apr 2010" "01 Apr 2010" "01 May 2010" "01 May 2010" "01 Jun 2010"
 [66] "01 Jun 2010" "01 Jul 2010" "01 Jul 2010" "01 Aug 2010" "01 Aug 2010"
 [71] "01 Sep 2010" "01 Sep 2010" "01 Oct 2011" "01 Oct 2011" "01 Nov 2011"
 [76] "01 Nov 2011" "01 Dec 2011" "01 Dec 2011" "01 Jan 2011" "01 Jan 2011"
 [81] "01 Feb 2011" "01 Feb 2011" "01 Mar 2011" "01 Mar 2011" "01 Apr 2011"
 [86] "01 Apr 2011" "01 May 2011" "01 May 2011" "01 Jun 2011" "01 Jun 2011"
 [91] "01 Jul 2011" "01 Jul 2011" "01 Aug 2011" "01 Aug 2011" "01 Sep 2011"
 [96] "01 Sep 2011" "01 Oct 2012" "01 Oct 2012" "01 Nov 2012" "01 Nov 2012"
[101] "01 Dec 2012" "01 Dec 2012" "01 Jan 2012" "01 Jan 2012" "01 Feb 2012"
[106] "01 Feb 2012" "01 Mar 2012" "01 Mar 2012" "01 Apr 2012" "01 Apr 2012"
[111] "01 May 2012" "01 May 2012" "01 Jun 2012" "01 Jun 2012" "01 Jul 2012"
[116] "01 Jul 2012" "01 Aug 2012" "01 Aug 2012" "01 Sep 2012" "01 Sep 2012"
[121] "01 Oct 2013" "01 Oct 2013" "01 Nov 2013" "01 Nov 2013" "01 Dec 2013"
[126] "01 Dec 2013" "01 Jan 2013" "01 Jan 2013" "01 Feb 2013" "01 Feb 2013"
[131] "01 Mar 2013" "01 Mar 2013" "01 Apr 2013" "01 Apr 2013" "01 May 2013"
[136] "01 May 2013" "01 Jun 2013" "01 Jun 2013" "01 Jul 2013" "01 Jul 2013"
[141] "01 Aug 2013" "01 Aug 2013" "01 Sep 2013" "01 Sep 2013" "01 Oct 2014"
[146] "01 Oct 2014" "01 Nov 2014" "01 Nov 2014" "01 Dec 2014" "01 Dec 2014"
[151] "01 Jan 2014" "01 Jan 2014" "01 Feb 2014" "01 Feb 2014" "01 Mar 2014"
[156] "01 Mar 2014" "01 Apr 2014" "01 Apr 2014" "01 May 2014" "01 May 2014"
[161] "01 Jun 2014" "01 Jun 2014" "01 Jul 2014" "01 Jul 2014" "01 Aug 2014"
[166] "01 Aug 2014" "01 Sep 2014" "01 Sep 2014" "01 Oct 2015" "01 Oct 2015"
[171] "01 Nov 2015" "01 Nov 2015" "01 Dec 2015" "01 Dec 2015" "01 Jan 2015"
[176] "01 Jan 2015" "01 Feb 2015" "01 Feb 2015" "01 Mar 2015" "01 Mar 2015"
[181] "01 Apr 2015" "01 Apr 2015" "01 May 2015" "01 May 2015" "01 Jun 2015"
[186] "01 Jun 2015" "01 Jul 2015" "01 Jul 2015" "01 Aug 2015" "01 Aug 2015"
[191] "01 Sep 2015" "01 Sep 2015" "01 Oct 2016" "01 Oct 2016" "01 Nov 2016"
[196] "01 Nov 2016" "01 Dec 2016" "01 Dec 2016" "01 Jan 2016" "01 Jan 2016"
[201] "01 Feb 2016" "01 Feb 2016" "01 Mar 2016" "01 Mar 2016" "01 Apr 2016"
[206] "01 Apr 2016" "01 May 2016" "01 May 2016" "01 Jun 2016" "01 Jun 2016"
[211] "01 Jul 2016" "01 Jul 2016" "01 Aug 2016" "01 Aug 2016" "01 Sep 2016"
[216] "01 Sep 2016" "01 Oct 2017" "01 Oct 2017" "01 Nov 2017" "01 Nov 2017"
[221] "01 Dec 2017" "01 Dec 2017" "01 Jan 2017" "01 Jan 2017" "01 Feb 2017"
[226] "01 Feb 2017" "01 Mar 2017" "01 Mar 2017" "01 Apr 2017" "01 Apr 2017"
[231] "01 May 2017" "01 May 2017" "01 Jun 2017" "01 Jun 2017" "01 Jul 2017"
[236] "01 Jul 2017" "01 Aug 2017" "01 Aug 2017" "01 Sep 2017" "01 Sep 2017"

In [22]:
ssa_long <- ssa_long %>%mutate(date=dmy(paste("01", ssa_long$month, df$Fiscal_Year)))

In [23]:
unique(ssa_long$date)

  [1] "2008-10-01" "2009-10-01" "2010-11-01" "2011-11-01" "2012-12-01"
  [6] "2013-12-01" "2014-01-01" "2015-01-01" "2016-02-01" "2017-02-01"
 [11] "2008-03-01" "2009-03-01" "2010-04-01" "2011-04-01" "2012-05-01"
 [16] "2013-05-01" "2014-06-01" "2015-06-01" "2016-07-01" "2017-07-01"
 [21] "2008-08-01" "2009-08-01" "2010-09-01" "2011-09-01" "2012-10-01"
 [26] "2013-10-01" "2014-11-01" "2015-11-01" "2016-12-01" "2017-12-01"
 [31] "2008-01-01" "2009-01-01" "2010-02-01" "2011-02-01" "2012-03-01"
 [36] "2013-03-01" "2014-04-01" "2015-04-01" "2016-05-01" "2017-05-01"
 [41] "2008-06-01" "2009-06-01" "2010-07-01" "2011-07-01" "2012-08-01"
 [46] "2013-08-01" "2014-09-01" "2015-09-01" "2016-10-01" "2017-10-01"
 [51] "2008-11-01" "2009-11-01" "2010-12-01" "2011-12-01" "2012-01-01"
 [56] "2013-01-01" "2014-02-01" "2015-02-01" "2016-03-01" "2017-03-01"
 [61] "2008-04-01" "2009-04-01" "2010-05-01" "2011-05-01" "2012-06-01"
 [66] "2013-06-01" "2014-07-01" "2015-07-01" "2016-08-01" "2017-08-01"
 [71] "2008-09-01" "2009-09-01" "2010-10-01" "2011-10-01" "2012-11-01"
 [76] "2013-11-01" "2014-12-01" "2015-12-01" "2016-01-01" "2017-01-01"
 [81] "2008-02-01" "2009-02-01" "2010-03-01" "2011-03-01" "2012-04-01"
 [86] "2013-04-01" "2014-05-01" "2015-05-01" "2016-06-01" "2017-06-01"
 [91] "2008-07-01" "2009-07-01" "2010-08-01" "2011-08-01" "2012-09-01"
 [96] "2013-09-01" "2014-10-01" "2015-10-01" "2016-11-01" "2017-11-01"
[101] "2008-12-01" "2009-12-01" "2010-01-01" "2011-01-01" "2012-02-01"
[106] "2013-02-01" "2014-03-01" "2015-03-01" "2016-04-01" "2017-04-01"
[111] "2008-05-01" "2009-05-01" "2010-06-01" "2011-06-01" "2012-07-01"
[116] "2013-07-01" "2014-08-01" "2015-08-01" "2016-09-01" "2017-09-01"